body {
  font-family: monospace;
  background: #ffffff;
  box-sizing: border-box;
}

.button-primary {
  background: #01c7da;
  color: #ffffff;
}

.button-primary:hover {
  background: #00a5b4;
}

.button-primary:active {
  background: #007b86;
}

.title-logo {
  color: #444444 !important;
  text-decoration: none;
  font-size: 0.7em;
}

.active {
  color: #444444 !important;
}

h1,
p,
h4,
h2 {
  color: #555555;
}

.features-tiles-item-header img {
  filter: grayscale(100%);
}
